<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WI-C02 Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>

 <body>

 <div style="margin:1.5em;">
       <strong>WI-2 Sample</strong>
{% if _user %}
        | <a href="/index">Index</a>
	| <a href="/home">{{ _user['name'] }} [{{ _user['credit'] }}]</a>
	| <a href="/login/logout">logout</a>
{% endif %}
 </div>

    <div class="container">

        {% block main %}
        {% endblock main %}

    </div><!-- /container -->
  </body>
</html>

