{% extends 'frame.html' %}
{% block main %}

<div>
<form class="form-horizontal well" action="/post" method="POST">
<div class="control-group">
   <label class="control-label" for="textarea">Content</label>
   <div class="controls">
       <textarea class="input-xlarge" name="content" id="textarea" rows="3"></textarea>
   </div>
</div>
<div class="control-group">
   <div class="controls">
      <input type="submit"/>
   </div>
</div>
</form>
</div>

<div>
<strong>-------------- Recent Posts: --------------</strong>
{% for i in posts %}
<div style="margin:2em; padding-bottom:1em; border-bottom:1px dashed; width:500px;">
{% if escape %}
<li>#{{ i['id'] }} {{ i['name']|e }} :</li><div style="margin-left:4em;">{{ i['content']|e }}</div>
{% else %}
<li>#{{ i['id'] }} {{ i['name'] }} :</li><div style="margin-left:4em;">{{ i['content'] }}</div>
{% endif %}
</div>
{% endfor %}
</div>

<!--
<div>
----------------------------------------
<br/>
<a href="/sample/XSS/clean">Clean All Posts</a>
</div>
-->
{% endblock %}
